::-webkit-scrollbar {
  width: 0.8rem;
  border-left: 1px solid var(--color-alt);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--action-color);
  border-radius: 9px;
}

:root {
  --primary: 210;
  --color-primary: hsl(var(--primary), 3%, 12%);
  --color-alt: hsl(calc(var(--primary) - 30), 3%, 90%);
  --action-color: #ff6b00;
  --ultimate-color: #179aac;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  color: var(--color-alt);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
