@media (min-width: 768px) {
  /* First Section */
  .firstSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: none;
  }

  .headerFirstSection {
    flex: 1;
  }

  .leftMedia {
    flex: 9;
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
  }

  .mediaDesktop {
    display: flex;
    order: -1;
    align-items: center;
    justify-content: center;
  }

  .background {
    background-image: url(../backgrounds/Desktop/firstSection.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0% bottom 0%;
  }

  .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .toolbarMobile {
    margin-top: 0;
    margin-bottom: 0;
  }

  .toolbarDesktop {
    display: list-item;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-left: 24px;
    margin-right: 24px;
    line-height: 24px;
  }

  .mobileIconmenu {
    display: none;
  }

  .pushright {
    margin-left: auto;
  }

  .toolbar {
    align-items: center;
    height: 7rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .headline h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 6rem;
    color: #f55800;
  }

  .headline h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
  }

  .headline p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #f4f5f7;
  }

  /* Middle Section */
  .middleSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .worksSection {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 2rem;
    margin-bottom: 10rem;
  }

  .topheadContainer {
    display: flex;
    gap: 0;
    margin-bottom: 7rem;
    margin-top: 10rem;
  }

  .topheadContainer h1 {
    width: 30%;
    margin-top: 0;
    padding-bottom: 0;
    font-size: 2rem;
    line-height: 4rem;
    margin-right: 0;
    padding-right: 0;
    padding-left: 1rem;
  }

  .topheadContainer .line {
    margin-top: 2rem;
    margin-left: -1rem;
    padding-left: 0;
    width: 70%;
    min-height: 0;
  }

  .topcontentContainer {
    display: flex;
    gap: 1.5rem;
  }

  .yoga {
    width: 60%;
    height: auto;
    margin-bottom: 0;
  }

  .contentContainerTop {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .contentTop h2 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 4rem;
  }

  .contentTop p {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .footerTop {
    margin-bottom: 1.2rem;
  }

  .footerTop ul {
    gap: 1.2rem;
    margin-right: 0;
  }

  .footerTop li {
    padding: 1rem 1.2rem;
    font-size: 1.15rem;
    line-height: 1.8rem;
  }

  .cardsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.8em;
  }

  .cards {
    display: none;
  }

  .desktopCard {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 31rem;
    padding: 1rem;
  }

  .desktopCard.once {
    background-image: url(../backgrounds/Placeholder.png);
    background-size: cover;
  }

  .contentOnce {
    flex: 1;
  }

  .footerOnce {
    display: flex;
  }

  .footerOnce button {
    flex: 1;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    background-color: #ff6b00;
    border: 0;
    color: #fff;
    padding: 1.2rem;
    font-size: 1.5rem;
    margin: -1rem;
  }

  .desktopCard.doce {
    background-image: url(../backgrounds/Desktop/Placeholder12.png);
    background-size: cover;
  }

  .contentDoce h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .contentDoce p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }

  .contentDoce ul {
    display: flex;
    gap: 1rem;
  }

  .contentDoce li {
    background-color: rgba(255, 255, 255, 0.24);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    padding: 0.8rem 1rem;
  }

  .desktopCard.trece {
    background-image: url(../backgrounds/Desktop/Placeholder13.png);
    background-size: cover;
  }

  .aboutSection {
    width: 100%;
    height: 65rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 7rem;
  }

  .aboutSection .aboutContainer {
    background-image: none;
  }

  .aboutMe {
    margin: 0;
    border-bottom: 0;
  }

  .aboutMe h1 {
    font-size: 4rem;
    margin-bottom: 0.2rem;
    line-height: 6rem;
  }

  .aboutMe p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .aboutMeButton {
    margin: 0;
    line-height: 0;
    font-size: 1.1rem;
  }

  .aboutBackground {
    background-image: url(../backgrounds/Desktop/aboutDesktop.png);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 10% top 25%;
    margin-right: -7rem;
  }

  .skills {
    margin-top: 4rem;
    border-top: 1px solid #fff;
    padding-top: 8rem;
    grid-area: 2/1/3/3;
    display: flex;
    justify-content: start;
    text-align: start;
    gap: 15rem;
  }

  .skills .language img {
    height: 1.2rem;
    width: 1.2rem;
  }

  .skills .language {
    padding: 0;
    font-size: 1.8rem;
    line-height: 0;
  }

  .skills .language li {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .skills .frameworks img {
    height: 1.1rem;
    width: 1.1rem;
  }

  .skills .frameworks {
    padding: 0;
    font-size: 1.8rem;
    line-height: 0;
  }

  .skills .frameworks li {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .skills .abilities img {
    height: 1.1rem;
    width: 1.1rem;
  }

  .skills .abilities {
    padding: 0;
    font-size: 1.8rem;
    line-height: 0;
  }

  .skills .abilities li {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .last {
    padding: 0;
  }

  /* formSection */
  .lastSection {
    width: 100%;
    padding: 0;
  }

  .desktopformContainer {
    display: flex;
    padding: 6rem;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .desktopTEXT {
    flex: 1;
  }

  .desktopFORM {
    flex: 1.5;
    padding-left: 2rem;
  }

  .formHeader {
    text-align: start;
    margin: 0;
    font-size: 2.4rem;
    line-height: 3rem;
  }  

  .formBox {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }

  #formMessage {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 3rem;
    min-height: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .buttonf {
    margin: 0;
    justify-content: start;
    margin-top: 2rem;
  }

  .formButton {
    font-size: 1rem;
    padding: 1rem;
    line-height: 1rem;
  }

  .mediaForm {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .finalSeparator {
    display: none;
  }
}
