@media (min-width: 768px) {

  /*First Section*/
  .firstSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: none;
  }
  .headerFirstSection {
    flex: 1;
  }

  .leftMedia {
    flex: 9;
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
  }
  
  .mediaDesktop {
    display: flex;
    order: -1;
    align-items: center;
    justify-content: center;
  }

  .background {
    background-image: url(../backgrounds/Desktop/firstSection.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right 0% bottom 0%;
  }

  .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .toolbarMobile {
    margin-top: 0;
    margin-bottom: 0;
  }

  .toolbarDesktop {
    display: list-item;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-left: 24px;
    margin-right: 24px;
    line-height: 24px;
  }

  .mobileIconmenu {
    display: none;
  }

  .pushright {
    margin-left: auto;
  }

  .toolbar {
    align-items: center;
    height: 7rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }



  .headline h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 6rem;
    color: #f55800;
  }

  .headline h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
  }

  .headline p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #f4f5f7;
  }

  /*Middle Section*/


}