.firstSection {
  height: 100vh;
  width: 100%;
  background-color: #1c1a19;
  position: relative;
  padding-bottom: 60rem;
}

.toolbar {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
}

.toolbarMobile {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  margin-top: 5rem;
  margin-bottom: 1.2rem;
  line-height: 2rem;
}

.toolbar .toolbarMobile a {
  color: inherit;
  text-decoration: none;
}

.background {
  background-image: url(../backgrounds/Illustration.png);
  background-repeat: no-repeat;
  background-position: right 0% bottom 40%;;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 70vh;

}

.headline {
  margin-right: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 7rem;
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.headline h1 {
  color: #ff6b00;
  line-height: 6rem;
  font-size: 5.5rem;
}

.headline h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  font-size: 2.4rem;
  color: #fff5e1;
}

.headline p {
  color: #fff;
}

.media {
  display: flex;
  margin-left: 24px;
  gap: 20px;
}

/* Desktop */

.toolbarDesktop {
  display: none;
}
