html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1rem;
}
