@media (min-width: 992px) { 
  /* Middle Section */

  .headline h1 {
    font-size: 14vmin;
    line-height: calc( 14vmin * 1.3);
  }

  .cardsGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 3em;
  }

  .cards {
    width: 25vw;
    padding: 1rem;
  }


}