@media (min-width: 768px) {
  /* welcome Section */
  .welcomeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: none;
  }

  .scrollSnapContainer {
    scroll-snap-type: y mandatory;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    scroll-padding-block-start: 15vh;
  }

  .scrollSnapChild {
    scroll-snap-align: start;
  }

  .leftMedia {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    height: 85vh;
    margin-top: -1rem;
  }

  .mediaDesktop {
    display: flex;
    order: -1;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .background {
    position: static;
    background-image: url(../backgrounds/Desktop/firstSection.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0% bottom 30%;
    width: 100%;
    height: 100vh;
  }

  .media {
    flex-direction: column;
    margin-left: 3vw;
  }

  .media li {
    height: 2rem;
    width: 2rem;
  }

  .iconmediaUp {
    height: 100%;
    width: 100%;
    fill: var(--color-alt);
  }

  .iconmediaUp:hover {
    fill: var(--ultimate-color);
    transform: translate(-1.5rem, -1.5rem);
    transform: scale(2.5);
    transition: 1s;
  }

  .headline {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }

  .headline h1 {
    font-size: 10vmin;
    line-height: calc(10vmin * 1.3);
    color: var(--action-color);
    padding-top: 3rem;
  }

  .headline h2 {
    font-size: 2.5rem;
    line-height: calc(2.5rem * 1.1);
    color: var(--color-alt);
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
  }

  .headline p {
    font-size: 1.8rem;
    line-height: calc(1.8rem * 1.1);
    color: var(--color-alt);
  }

  /* Middle Section */
  .middleSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .worksSection {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    gap: 2rem;
    margin-bottom: 10rem;
  }

  .top {
    height: 85vh;
    max-height: 85vh;
    display: flex;
    justify-content: center;
  }

  .topheadContainer {
    display: flex;
    gap: 0;
    margin-bottom: 5rem;
    margin-top: 0.5rem;
  }

  .topheadContainer h2 {
    width: 30%;
    margin-top: 0;
    margin-right: 0;
    font-size: 2rem;
    line-height: calc(2rem * 1.1);
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 1rem;
  }

  .topheadContainer .line {
    margin-top: 2rem;
    margin-left: -1rem;
    padding-left: 0;
    width: 70%;
    min-height: 0;
  }

  .topcontentContainer {
    display: flex;
    gap: 2rem;
  }

  .mainProyect {
    display: flex;
  }

  .contentContainerTop {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .contentTop h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 0;
    font-size: 2rem;
    line-height: calc(2rem * 1.1);
  }

  .contentTop p {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.3);
  }

  .footerTop {
    margin-bottom: 1.2rem;
  }

  .footerTop ul {
    gap: 1.2rem;
    margin-right: 0;
  }

  .footerTop li {
    padding: 1rem 1.2rem;
    font-size: 1.15rem;
    line-height: calc(1.15rem * 1.3);
  }

  .cardsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.8em;
    padding-bottom: 30vh;
  }

  .cards {
    height: 85vh;
    max-height: 85vh;
    width: 40vw;
  }

  .contentCardsHeader h2 {
    margin-top: 0;
    padding-top: 0;
  }

  .imagenProyect {
    width: 100%;
    height: 30vh;
    flex-grow: 1;
  }

  .imagenProyect img {
    width: 100%;
    height: 100%;
  }

  .aboutSection {
    width: 100%;
    height: 85vh;
    max-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .aboutSection .aboutContainer {
    background-image: none;
    display: flex;
    align-items: center;
  }

  .aboutMe {
    margin: 0;
    border-bottom: 0;
    padding-left: 7rem;
  }

  .aboutMe h2 {
    font-size: 5rem;
    margin-bottom: 0.2rem;
    line-height: calc(5rem * 1.4);
    padding-top: 2rem;
  }

  .aboutMe p {
    margin-top: 1rem;
    font-size: 2.1rem;
    line-height: calc(2.1rem * 1.2);
  }

  .aboutMeButton {
    font-size: 1.1rem;
    line-height: calc(1.1rem * 1.2);
    margin-bottom: 2rem;
  }

  .aboutBackground {
    background-image: url(../backgrounds/Desktop/aboutDesktop.png);
    display: inline;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0% bottom 0%;
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .skills {
    border-top: 1px solid var(--color-alt);
    grid-area: 2/1/3/3;
    display: flex;
    text-align: start;
    justify-content: space-between;
    margin-right: 7rem;
    margin-left: 7rem;
    padding-top: 3rem;
    padding-right: 15rem;
  }

  .containerMainImagen img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .skills .language img {
    height: 1.2rem;
    width: 1.2rem;
  }

  .skills .language {
    padding: 0;
    font-size: 2rem;
    line-height: 0;
  }

  .skills .language li {
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.2);
  }

  .skills .frameworks img {
    height: 1.1rem;
    width: 1.1rem;
  }

  .skills .frameworks {
    padding: 0;
    font-size: 2rem;
    line-height: 0;
  }

  .skills .frameworks li {
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.2);
  }

  .skills .abilities img {
    height: 1.1rem;
    width: 1.1rem;
  }

  .skills .abilities {
    padding: 0;
    font-size: 2rem;
    line-height: 0;
  }

  .skills .abilities li {
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.2);
  }

  .last {
    padding: 0;
  }

  /* Last Section */
  .lastSection {
    width: 100%;
    height: 85vh;
    max-height: 85vh;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .desktopformContainer {
    display: flex;
    padding: 6rem;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .desktopTEXT {
    flex: 1;
  }

  .desktopFORM {
    flex: 1.5;
    padding-left: 2rem;
  }

  .formHeader {
    text-align: start;
    margin: 0;
    font-size: 2.4rem;
    line-height: calc(2.4rem * 1.2);
  }

  .formBox {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: calc(1.5rem * 1.2);
    margin-bottom: 2rem;
  }

  #formMessage {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 3rem;
    min-height: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .buttonf {
    margin: 0;
    justify-content: start;
    margin-top: 2rem;
  }

  .formButton {
    font-size: 1rem;
    padding: 1rem;
    line-height: 1rem;
  }

  .mediaForm {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .finalSeparator {
    display: none;
  }

  /* Pop Up */

  .show2 {
    width: 85%;
    height: 75vh;
    transform: translate(7%, 13%);
  }

  .containerHeadPopup h2 {
    line-height: 3.5rem;
    margin-left: 2rem;
  }

  .containerLanguages {
    margin-top: 0.3rem;
    margin-left: 2rem;
  }

  .containerLanguages button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .desktopPopup {
    flex-direction: row;
  }

  .containerMainImagen {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 1rem;
    display: flex;
    flex: 1;
    min-width: 50%;
    max-height: 53vh;
  }

  .containerBottonPopup p {
    margin-top: 3rem;
    margin-right: 2rem;
  }

  .containerBottonPopup > div {
    margin-right: 2rem;
  }
}
