.middleSection {
  width: 100%;
  height: auto;
}

.worksSection {
  display: grid;
  grid-template-rows: auto repeat(6, 100vh);
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  grid-row-gap: 2.4rem;
}

.top {
  display: flex;
  flex-direction: column;
}

.top h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
  margin-top: 12rem;
  padding-bottom: 2rem;
  text-align: center;
}

.line {
  border-top: 0.1rem solid #212121;
  min-height: 8rem;
}

.yoga {
  margin-bottom: 2.4rem;
}

.yoga img {
  width: 100%;
  height: auto;
}

.contentTop h2 {
  margin-bottom: 1rem;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.contentTop p {
  font-family: 'Inter', sans-serif;
  margin-bottom: 1.2rem;
}

.footerTop {
  margin-bottom: 1.2rem;
}

.footerTop ul {
  display: flex;
  gap: 1.2rem;
}

.footerTop li {
  border: 0.1rem #8993a4 solid;
  padding: 1rem 1.2rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.footerTopButton {
  background-color: #ff6b00;
  padding: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #fff;
  border: 0;
}

.footerTopButton:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.footerTopButton:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.cards {
  display: flex;
  flex-direction: column;
  background-image: url(../backgrounds/Placeholder.png);
  background-size: cover;
  height: 100vh;
}

.contentCards {
  flex-grow: 1;
}

.contentCards h1 {
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #fff;
  margin: 8.4rem 1.6rem 1.2rem 1.6rem;
}

.contentCards p {
  font-family: 'Inter', sans-serif;
  color: #fff;
  margin: 0 1.6rem 1.2rem 1.6rem;
}

.contentCards ul {
  display: flex;
  margin: 0 1.6rem 2.2rem 1.6rem;
  gap: 1.2rem;
}

.contentCards li {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 1rem 1.2rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
}

.footerCards {
  display: flex;
  flex-direction: column;
}

.footerCards button {
  background-color: #ff6b00;
  padding: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #fff;
  border: none;
}

.footerCards button:hover {
  background-color: #fff5e1;
  border: 0.1rem solid #f55800;
  color: #f55800;
}

.footerCards button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.aboutSection {
  width: 100%;
  height: auto;
  background-color: #1c1a19;
}

.aboutSection .aboutContainer {
  background-image: url(../backgrounds/about.png);
  background-repeat: no-repeat;
  background-position: right 0% bottom 0%;
}

.aboutMe {
  border-bottom: 1rem solid #fff;
  display: flex;
  flex-direction: column;
  margin: 1rem 2.4rem 0 2.4rem;
}

.aboutMe h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6.5rem;
  line-height: 8.8rem;
  letter-spacing: 0.037rem;
  color: #ff6b00;
  margin-bottom: 2.4rem;
}

.aboutMe p {
  font-family: 'Inter', sans-serif;
  color: #f4f5f7;
  margin-bottom: 2.4rem;
}

.aboutMeButton {
  background-color: #ff6b00;
  padding: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #fff;
  border: none;
  margin-bottom: 20.9rem;
}

.aboutMeButton:hover {
  background-color: #fff5e1;
  border: 0.1rem solid #f55800;
  color: #f55800;
}

.aboutMeButton:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.skills {
  text-align: center;
}

.skills .language {
  padding-top: 1.36rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.first {
  padding-top: 1rem;
}

.skills .language>span {
  height: 1.8rem;
  width: 1.8rem;
}

.skills .language>img {
  height: 100%;
  width: 100%;
}

.skills .language li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4.3rem;
  color: #fff;
}

.skills .frameworks {
  padding-top: 2.8rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.skills .frameworks>span {
  height: 1.8rem;
  width: 1.8rem;
}

.skills .frameworks>img {
  height: 100%;
  width: 100%;
}

.skills .frameworks li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4.3rem;
  color: #fff;
}

.skills .abilities {
  padding-top: 2.8rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.skills .abilities>span {
  height: 1.8rem;
  width: 1.8rem;
}

.skills .abilities>img {
  height: 100%;
  width: 100%;
}

.skills .abilities li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4.3rem;
  color: #fff;
}

.last {
  margin-bottom: 13.1rem;
}

.desktopCard {
  display: none;
}

.aboutBackground {
  display: none;
}

/* popUp */

.popupContainer {
  display: none;
}

.show2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 95%;
  height: 89vh;
  transform: translate(2.5%, 8%);
  z-index: 2;
  background-color: white;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.overlayOn {
  backdrop-filter: blur(1rem);
  z-index: 1;
}

.containerHeadPopup {
  display: flex;
  justify-content: space-between;
}

.containerHeadPopup h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #172b4d;
  margin-top: 1.2rem;
  margin-left: 1rem;
}

.containerHeadPopup div {
  width: 3rem;
  height: 3rem;
  margin-top: 1.8rem;
  margin-right: 1.5rem;
}

.containerLanguages {
  display: flex;
  gap: 0.8rem;
  margin-top: 5rem;
  margin-left: 1rem;
}

.containerLanguages button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #3c3a39;
  background-color: white;
  padding: 1rem 0.5rem;
  border: #8993a4 solid 0.1rem;
}

.desktopPopup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.containerMainImagen {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.containerMainImagen img {
  max-width: 32rem;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.containerBottonPopup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.containerBottonPopup p {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
  flex-grow: 1;
}

.containerBottonPopup > div {
  margin-bottom: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  gap: 1.2rem;
}

.containerBottonPopup button {
  flex: 1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  border: none;
}

.liveIcon,
.sourceIcon
{
  margin-top: 0.6rem;
}

