.middleSection {
  width: 100%;
  background-color: var(--color-primary);
}

.worksSection {
  display: grid;
  grid-template-rows: auto repeat(6, 100%);
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  grid-row-gap: 2.4rem;
}

.top {
  display: flex;
  flex-direction: column;
}

.top h2 {
  font-weight: 400;
  font-size: 4rem;
  line-height: calc(4rem * 1.2);
  margin-top: 12rem;
  padding-bottom: 1.5rem;
}

.line {
  border-top: 0.1rem solid var(--color-alt);
  min-height: 8rem;
  margin-bottom: 1rem;
}

.mainProyect img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.contentTop h2 {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: calc(3.2rem * 1.2);
  margin-top: 2rem;
}

.contentTop p {
  margin-bottom: 1.2rem;
}

.footerTop {
  margin-bottom: 1.2rem;
  max-width: 90vw;
}

.footerTop ul {
  display: flex;
  flex-shrink: 1;
  gap: 1.25rem;
}

.footerTop li {
  border: 0.1rem var(--ultimate-color) solid;
  padding: 1rem 1.2rem;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: calc(1.1rem * 1.4);
}

.footerTopButton {
  padding: 1.2rem;
  font-size: 1.7rem;
  line-height: calc(1.7rem * 1.4);
}

.cards {
  display: flex;
  flex-direction: column;
}

.contentCards {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentCards h2 {
  color: var(--color-alt);
  margin: 6.4rem 1.6rem 1.2rem 1.6rem;
}

.contentCards p {
  color: var(--color-alt);
  margin: 0 1.6rem 1.2rem 1.6rem;
}

.imagenProyect {
  width: 85vw;
  height: auto;
}

.imagenProyect img {
  width: 100%;
}

.contentCards ul {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  gap: 1.2rem;
}

.contentCards li {
  border: 0.1rem var(--ultimate-color) solid;
  padding: 1rem 1.2rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: calc(1.5rem * 1.4);
  color: var(--color-alt);
}

.footerCards {
  display: flex;
  flex-direction: column;
}

.containerLanguages div {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: calc(1.3rem * 1.4);
  color: var(--color-primary);
  background-color: var(--color-alt);
  padding: 1rem 0.5rem;
  border: var(--ultimate-color) solid 0.1rem;
}

.containerBottonPopup button {
  flex: 1;
  font-size: 1.7rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 0.03em;
  padding: 0.2rem 0.5rem;
}

.footerCards button {
  padding: 1.2rem;
  font-size: 1.7rem;
  line-height: 2.4rem;
}

.aboutSection {
  width: 100%;
  background-color: var(--color-primary);
}

.aboutSection .aboutContainer {
  background-image: url(../backgrounds/about.png);
  background-repeat: no-repeat;
  background-position: right 0% bottom 0%;
}

.aboutMe {
  border-bottom: 1rem solid var(--color-alt);
  display: flex;
  flex-direction: column;
  margin: 1rem 2.4rem 0 2.4rem;
}

.aboutMe h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6.5rem;
  line-height: calc(6.5rem * 1.2);
  letter-spacing: 0.037rem;
  color: var(--action-color);
  margin-bottom: 2.4rem;
}

.aboutMe p {
  font-family: 'Inter', sans-serif;
  color: var(--color-alt);
  margin-bottom: 2.4rem;
}

.aboutMeButton {
  padding: 1.2rem;
  font-size: 1.7rem;
  line-height: calc(2.4rem * 1.4);
  margin-bottom: 20.9rem;
}

.skills {
  text-align: center;
}

.containerMainImagen img {
  max-width: 32rem;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills .language {
  padding-top: 1.36rem;
  color: var(--color-alt);
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: calc(3.2rem * 1.3);
}

.first {
  padding-top: 1rem;
}

.skills .language > span {
  height: 1.8rem;
  width: 1.8rem;
}

.skills .language > img {
  height: 100%;
  width: 100%;
}

.skills .language li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: calc(2.2rem * 1.3);
  color: var(--color-alt);
}

.skills .frameworks {
  padding-top: 2.8rem;
  color: var(--color-alt);
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: calc(3.2rem * 1.3);
}

.skills .frameworks > span {
  height: 1.8rem;
  width: 1.8rem;
}

.skills .frameworks > img {
  height: 100%;
  width: 100%;
}

.skills .frameworks li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: calc(2.2rem * 1.3);
  color: var(--color-alt);
}

.skills .abilities {
  padding-top: 2.8rem;
  color: var(--color-alt);
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: calc(3.2rem * 1.3);
}

.skills .abilities > span {
  height: 1.8rem;
  width: 1.8rem;
}

.skills .abilities > img {
  height: 100%;
  width: 100%;
}

.skills .abilities li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: calc(2.2rem * 1.3);
  color: var(--color-alt);
}

.last {
  margin-bottom: 13.1rem;
}

.desktopCard {
  display: none;
}

.aboutBackground {
  display: none;
}

/* popUp */

.popupContainer {
  display: none;
}

.show2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 95%;
  height: 89vh;
  transform: translate(2.5%, 8%);
  z-index: 2;
  background-color: var(--color-alt);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.overlayOn {
  backdrop-filter: blur(0.2rem);
  z-index: 2;
}

.containerHeadPopup {
  display: flex;
  justify-content: space-between;
}

.containerHeadPopup h2 {
  font-size: 3.2rem;
  line-height: calc(3.2rem * 1.4);
  color: var(--color-primary);
  margin-top: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

.containerHeadPopup div {
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  margin-right: 1.5rem;
}

.containerLanguages {
  display: flex;
  gap: 0.8rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

.desktopPopup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.containerMainImagen {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.containerBottonPopup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.containerBottonPopup p {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-primary);
  flex-grow: 1;
}

.containerBottonPopup > div {
  margin-bottom: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  gap: 1.2rem;
}

.containerBottonPopup a {
  display: flex;
  align-items: center;
  gap: 3rem;
  color: inherit;
}

.liveIcon,
.sourceIcon {
  margin-top: 0.6rem;
}
