.welcomeSection {
  height: 100vh;
  background-color: var(--color-primary);
  padding-top: 15vh;
}

.background {
  background-image: url(../backgrounds/Illustration.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30vw;
  height: 35vh;
}

.headline {
  margin-right: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 4rem;
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.headline h1 {
  margin-bottom: 2rem;
}

.media {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}
